*{
  font-family: 'Roboto';
}


@media only screen and (min-width: 576px) {
  div.small-container {
    width: 680px;
  }
}

.quote {
font-size: 1.7em;
font-family: 'Lora', serif;
}

.about-me .row {
  margin-top: 50px;
  margin-bottom: 50px;
}

.social-networks ul {
  list-style: none;
  padding-left: 0;
}

.social-networks li {
  display: inline;
  padding-right: 10px;
}

footer {
  text-align: center;
  bottom: 0;
  width: 100%;
  display: inline-block;
  vertical-align: top;
  font-size: 13px;
  margin-top: 65px;
  margin-bottom: 15px;
}

footer ul {
  font-size: 2em;
  margin-bottom: 2;
}

.article {
  padding-bottom: 0px;
  background-color: #359490;
}

nav {
  font-family: 'Roboto';
}

.navbar-brand {
  font-size: 3em;
  font-family: 'Roboto';
  letter-spacing: 1px;
}


.display-4 {
font-family: 'Vidaloka';
font-size: 2.3em;
}

.jumbotron {
  background-color: white;
  padding: 3.5rem 0rem;
}

#navbarNav {
  display: flex;
  justify-content: flex-end;
}


.navbar {
  padding-top: 10px;
  padding-bottom: 0px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 40px;
  letter-spacing: 1.5px;
}


.col-sm-6 {
  padding-top: 15px;
  padding-bottom: 15px;
}


.btn {
  border-radius: 1;
  border-color: #0058FF;
  border-width: medium;
  background-color: white;
  padding-top: 9px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  color: #0058FF;
  letter-spacing: 2px;
}

.btn:hover {
 background-color: #0058FF;
 border-color: #0058FF;

.card-title {
font-family: 'Vidaloka';
}

.about-me img {
  padding-right: 30px;
}

.about-me .biography {
  padding-left: 30px;
}

p {
  margin-bottom: 20px;
}
